.gray
{
    background-color: rgb(230, 230, 230);
    background-position: center;
    background-size: cover;
    color: black;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Set a specific height */

    height: 40%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.gray h2
{
    font-size: 40px;
    font-family: 'EB Garamond', sans-serif;
    font-weight: lighter;
}
.gray p
{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: lighter;
}
.gray-text
{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.white
{
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
    color: black;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Set a specific height */

    height: 40%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.white h2
{
    font-size: 40px;
    font-family: 'EB Garamond', sans-serif;
    font-weight: lighter;
}
.white p
{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: lighter;
}
.white-text
{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#about-me
{
    height: 45%;
}