body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: #000;
    /* background-color: #f4f4f4; */
    transition: background-color 1s ease;
    /* background-color: black; */
}

h1
{
    font-weight: lighter;
    font-size: 50px;
    /* -webkit-animation: fade-in 5s; */
}

textarea
{
   width: 100%;
   height: 30%; 
}
/* hero image*/
/* The hero image */







/* Buttons that are a "yes" option (submit, accept etc.) */
.yes-button
{
    border: 2px solid #000000;
    
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

/* Buttons that are a "no" option (cancel, etc.) */
.no-button
{
    background-color: rgb(15, 15, 15);
    border: 2px solid #000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


@-webkit-keyframes contact-animation-1
{
    from    {border-color: white;}
    to      {border-color: #00a6c5;}
}

@-webkit-keyframes contact-animation
{
    0%  {border-color: #00a6c5;}
    25% {border-color: #dc7000;}
    50% {border-color: #e9271b;}
    75% {border-color: rgb(255, 15, 215);}
    100%{border-color: #00a6c5;}
}
@-webkit-keyframes contact-animation-out
{
    from
    {
        border-color: default;
    }
    to
    {
        border-color: white;
    }
}


@-webkit-keyframes nav-animation-in
{
    from
    {
        color: white;
    }
    to
    {
        color: gray;
    }
}
@-webkit-keyframes nav-animation-out
{
    from
    {
        color: gray;
    }
    to
    {
        color: white;
    }
}

@-webkit-keyframes fade-in
{
    from
    {
        color: rgba(255, 255, 255, 0);
    }
    to
    {
        color: rgba(255, 255, 255, 1);
    }
}

#nav-dev:hover, #nav-contact:hover, #nav-about:hover, #nav-resume:hover
{
    color: gray;
    -webkit-animation: nav-animation-in .3s;
}

#nav-dev, #nav-contact, #nav-about
{
    color: white;
    -webkit-animation: nav-animation-out .2s;
}

.white-button:hover
{
    -webkit-animation: contact-animation-1 1s, contact-animation 5s 1s infinite;
}

/* Buttons that are a white and transparent */
.white-button
{
    
    border-radius: 40px;
    -webkit-animation: contact-animation-out .3s;

    background-color: rgb(9, 141, 204);
    box-shadow: 0 12px 21px -11px rgba(0,0,0,.5);
    
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.white-button-container
{
    /* top: 670px; */
    margin-top: 470px;
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    text-align: center;
}


.facts-list
{
    padding: 0;
    text-align: center;
    list-style: none;
    font-size: 25px;
}

hr
{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 1px;
    border: 0;
}

@-webkit-keyframes line-shift
{
    
    0%  {background: #00a6c5;}
    25% {background: #dc7000;}
    50% {background: #e9271b;}
    75% {background: #ff0fd7;}
    100%{background: #00a6c5;}
}

.dev-left
{
    float: left;
}

.dev-right
{
    float: right;
}


/* .color-line-shift
{ */
    
    /* background: #00a6c5; */
    /* -webkit-animation: line-shift 20s infinite; */

/* } */

.gray-line
{
    background: gray;
}

.blue-line
{
    background: #00a6c5;
}

.orange-line
{
    background: #dc7000;
}

.red-line
{
    background: #e9271b;
}

.pink-line
{
    background: #ff0fd7;
}

.blue-text
{
    color: #00a6c5;
}

.orange-text
{
    color: #dc7000;
}

.red-text
{
    color: #e9271b;
}

.pink-text
{
    color: #ff0fd7;
}

h3
{
    font-size: 20px;
}
/* panel styles */
.panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    /* outline: 10px solid hotpink; */
    /* turn above on to see the edge of panels */
  }


.color-blue
{
    background-color: #56b0c7;
}

.color-red
{
    /* background-color: #e9b9e1; */
    background-color: #956daf;
}

.color-orange
{
    background-color: #fa9441;
}

.color-black
{
    background-color: #000000;
}